# Certificates and package signing keys
.certs
*.pem

# Packaged extensions
dist/*

# Develeper scratch files
*~
.*.swp

# WebStorm project files
/.idea

# Compiled Python files from Firefox Addon SDK
*.pyc
